<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWtFxULFm2c3Dd8-hfoxMzPzdV0pZAogg</string>
	<key>GCM_SENDER_ID</key>
	<string>727952955941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deah.com.MercadoSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-c543d</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-c543d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727952955941:ios:6eee2e00803dae05adbdcc</string>
</dict>
</plist>